body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  direction: rtl;
  text-align: right;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ea2a2a;
  border-radius: 50px;
  max-width: 400px;
  box-shadow: 0 0 10px rgb(222, 12, 12);
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}


button:hover
{
background-color: #063c08;
}


input:focus
{
  background-color: #4caf50;
  color: #f9f9f9;
}